[submodule "ECConfig"]
	path = ECConfig
	url = git@github.com:elegantchaos/ECConfig
[submodule "ECLogging"]
	path = ECLogging
	url = git@github.com:elegantchaos/ECLogging
[submodule "ECCore"]
	path = ECCore
	url = git@github.com:elegantchaos/ECCore
[submodule "ECTwitter"]
	path = ECTwitter
	url = git@github.com:elegantchaos/ECTwitter
[submodule "oauthconsumer"]
	path = oauthconsumer
	url = git@github.com:samdeane/oauthconsumer.git
[submodule "ECOAuthConsumer"]
	path = ECOAuthConsumer
	url = git@github.com:elegantchaos/ECOAuthConsumer.git
