[submodule "ECConfig"]
	path = ECConfig
	url = git@github.com:elegantchaos/ECConfig
[submodule "ECLogging"]
	path = ECLogging
	url = git@github.com:elegantchaos/ECLogging
[submodule "ECCore"]
	path = ECCore
	url = git@github.com:elegantchaos/ECCore
[submodule "ECTwitter"]
	path = ECTwitter
	url = git@github.com:elegantchaos/ECTwitter
[submodule "ECOAuthConsumer"]
	path = ECOAuthConsumer
	url = git@github.com:elegantchaos/ECOAuthConsumer.git
[submodule "ECRegexKitLite"]
	path = ECRegexKitLite
	url = git@github.com:elegantchaos/ECRegexKitLite.git
[submodule "yajl-objc"]
	path = yajl-objc
	url = git://github.com/samdeane/yajl-objc.git
[submodule "Frameworks/ECUnitTests"]
	path = Frameworks/ECUnitTests
	url = git://github.com/elegantchaos/ECUnitTests.git
